# Ignore environment/config files
.env

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore data/output
*.csv
*.log
*.sqlite3

# Ignore macOS system file
.DS_Store